{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="sliderSection">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8">
        <div class="slick_slider">
          {% for news in news_list %}
                        <div class="single_iteam"><a href="{% url 'news_detail_page' news.pk %}"> <img
                                src="/media/{{ news.image }}" alt=""></a>
                            <div class="slider_article">
                                <h2><a class="slider_tittle"
                                       href="{% url 'news_detail_page'  news.pk %}">{{ news.title | truncatewords:5 }}</a>
                                </h2>
                                <p>{{ news.body | truncatewords:5 }}...</p>
                            </div>
                        </div>
                    {% endfor %}
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="latest_post">
          <h2><span>Latest post</span></h2>
          <div class="latest_post_container">
            <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
              {% for news in news_list %}
            <ul class="latest_postnav">
                <li>
                <div class="media"> <a href="{% url 'news_detail_page' news.pk %}" class="media-left"> <img alt="Yuq" src="/media/{{ news.image }}"> </a>
                  <div class="media-body"> <a href="{% url 'news_detail_page' news.pk %}" class="catg_title">{{ news.title }}</a> </div>
                </div>
              </li>
            </ul>
              {% endfor %}
            <div id="next-button"><i class="fa  fa-chevron-down"></i></div>
          </div>
        </div>
      </div>
    </div>
  </section>
    <section id="contentSection">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="left_content">
                    <div class="single_post_content">
                        <h2><span>Business</span></h2>
                        <div class="single_post_content_left">
                            {% for n in business %}
                                <ul class="business_catgnav  wow fadeInDown">
                                    <li>
                                        <figure class="bsbig_fig"><a href="{% url 'news_detail_page' n.pk %}"
                                                                     class="featured_img"> <img alt=""
                                                                                                src="/media/{{ n.image }}">
                                            <span class="overlay"></span> </a>
                                            <figcaption><a href="{% url 'news_detail_page' n.pk %}">{{ n.title }}</a>
                                            </figcaption>
                                            <p>{{ n.body | truncatewords:5 }} ...</p>
                                        </figure>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                        <div class="single_post_content_right">
                            {% for pop in popular_post %}
                                <ul class="spost_nav">
                                    <li>
                                        <div class="media wow fadeInDown"><a href="{% url 'news_detail_page' pop.pk %}"
                                                                             class="media-left"> <img alt="Topilmadi"
                                                                                                      src="/media/{{ pop.image }}">
                                        </a>
                                            <div class="media-body"><a href="{% url 'news_detail_page' pop.pk %}"
                                                                       class="catg_title"> {{ pop.nomi }}</a></div>
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="fashion_technology_area">
                        <div class="fashion">
                            <div class="single_post_content">
                                <h2><span>Fashion</span></h2>
                            {% for f in fashion %}
                                <ul class="business_catgnav wow fadeInDown">
                                    <li>
                                        <figure class="bsbig_fig"><a href="{% url 'news_detail_page' f.pk %}" class="featured_img"> <img alt="{% url 'news_detail_page' f.pk %}"
                                                                                                        src="/media/{{ f.image }}">
                                            <span class="overlay"></span> </a>
                                            <figcaption><a href="{% url 'news_detail_page' f.pk %}">{{ f.title }}</a>
                                            </figcaption>
                                            <p>{{ f.body | truncatewords:5 }}...</p>
                                        </figure>
                                    </li>
                                </ul>
                            {% endfor %}
                                {% for pop in popular_post %}
                                    <ul class="spost_nav">
                                        <li>
                                            <div class="media wow fadeInDown"><a href="{% url 'news_detail_page' pop.pk %}" class="media-left"> <img alt=""
                                                                                                                  src="/media/{{ pop.image }}">
                                            </a>
                                                <div class="media-body"><a href="{% url 'news_detail_page' pop.pk %}" class="catg_title"> {{ pop.nomi }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="technology">
                            <div class="single_post_content">
                                <h2><span>Technology</span></h2>
                            {% for t in technology %}
                                <ul class="business_catgnav">
                                    <li>
                                        <figure class="bsbig_fig wow fadeInDown"><a href="{% url 'news_detail_page' t.pk %}" class="featured_img"> <img
                                                alt="" src="/media/{{ t.image }}"> <span
                                                class="overlay"></span> </a>
                                            <figcaption><a href="{% url 'news_detail_page' t.pk %}">{{ t.title }}</a>
                                            </figcaption>
                                            <p>{{ t.body | truncatewords:5 }}...</p>
                                        </figure>
                                    </li>
                                </ul>
                            {% endfor %}
                                {% for pop in popular_post %}
                                    <ul class="spost_nav">
                                        <li>
                                            <div class="media wow fadeInDown"><a href="{% url 'news_detail_page ' pop.pk %}" class="media-left"> <img alt=""
                                                                                                                  src="/media/{{ pop.image }}">
                                            </a>
                                                <div class="media-body"><a href="{% url 'news_detail_page' pop.pk %}" class="catg_title"> {{ pop.nomi }}</a>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="single_post_content">
                        <h2><span>Photography</span></h2>
                        {% for p in photopraphy %}
                        <ul class="photograph_nav  wow fadeInDown">
                            <li>
                                <div class="photo_grid">
                                    <figure class="effect-layla"><a class="fancybox-buttons"
                                                                    data-fancybox-group="button"
                                                                    href="/media/{{ p.image }}"
                                                                    title="Photography Ttile 1"> <img
                                            src="/media/{{ p.image }}" alt=""/></a></figure>
                                </div>
                            </li>
                            <li>

                        </ul>
                        {% endfor %}
                    </div>
                    <div class="single_post_content">
                        <h2><span>Games</span></h2>
                        <div class="single_post_content_left">
                            {% for g in games %}
                            <ul class="business_catgnav">
                                <li>
                                    <figure class="bsbig_fig  wow fadeInDown"><a class="featured_img" href="{% url 'news_detail_page' g.pk %}"> <img
                                            src="/media/{{g.image  }}" alt=""> <span
                                            class="overlay"></span> </a>
                                        <figcaption><a href="{% url 'news_detail_page' g.pk %}">{{ g.title }}</a>
                                        </figcaption>
                                        <p>{{ g.body | truncatewords:5 }}...</p>
                                    </figure>
                                </li>
                            </ul>
                            {% endfor %}
                        </div>
                        <div class="single_post_content_right">
                            {% for pop in popular_post %}
                                <ul class="spost_nav">
                                    <li>
                                        <div class="media wow fadeInDown"><a href="{% url 'news_detail_page' pop.pk %}" class="media-left"> <img alt=""
                                                                                                              src="/media/{{ pop.image }}">
                                        </a>
                                            <div class="media-body"><a href="{% url 'news_detail_page' pop.pk %}" class="catg_title">{{ pop.nomi }}</a></div>
                                        </div>
                                    </li>
                                </ul>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
                <aside class="right_content">
                    <div class="single_sidebar">
                        <h2><span>Popular Post</span></h2>
                        {% for pop in popular_post %}
                            <ul class="spost_nav">
                                <li>
                                    <div class="media wow fadeInDown"><a href="{% url 'news_detail_page' pop.pk %}" class="media-left"> <img alt=""
                                                                                                          src="/media/{{ pop.image }}">
                                    </a>
                                        <div class="media-body"><a href="{% url 'news_detail_page' pop.pk %}" class="catg_title"> {{ pop.nomi }}</a></div>
                                    </div>
                                </li>
                            </ul>
                        {% endfor %}
                    </div>
                    <div class="single_sidebar">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#category" aria-controls="home" role="tab"
                                                                      data-toggle="tab">Category</a></li>
                            <li role="presentation"><a href="#video" aria-controls="profile" role="tab"
                                                       data-toggle="tab">Video</a></li>
                            <li role="presentation"><a href="#comments" aria-controls="messages" role="tab"
                                                       data-toggle="tab">Comments</a></li>
                        </ul>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="category">
                                <ul>
                                    <li class="cat-item"><a href="#">Sports</a></li>
                                    <li class="cat-item"><a href="#">Fashion</a></li>
                                    <li class="cat-item"><a href="#">Business</a></li>
                                    <li class="cat-item"><a href="#">Technology</a></li>
                                    <li class="cat-item"><a href="#">Games</a></li>
                                    <li class="cat-item"><a href="#">Life &amp; Style</a></li>
                                    <li class="cat-item"><a href="#">Photography</a></li>
                                </ul>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="video">
                                <div class="vide_area">
                                    <iframe width="100%" height="250"
                                            src="http://www.youtube.com/embed/h5QWbURNEpA?feature=player_detailpage"
                                            frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane" id="comments">
                                {% for pop in popular_post %}
                                <ul class="spost_nav">
                                    <li>
                                        <div class="media wow fadeInDown"><a href="{% url 'news_detail_page' pop.pk %}" class="media-left"> <img alt=""
                                                                                                              src="/media/{{ pop.image }}">
                                        </a>
                                            <div class="media-body"><a href="{% url 'news_detail_page' pop.pk %}" class="catg_title"> {{ pop.nomi }}</a></div>
                                        </div>
                                    </li>
                                </ul>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Sponsor</span></h2>
                        <a class="sideAdd" href="#"><img src="{% static 'images/add_img.jpg' %}" alt=""></a></div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Category Archive</span></h2>
                        <select class="catgArchive">
                            <option>Select Category</option>
                            <option>Life styles</option>
                            <option>Sports</option>
                            <option>Technology</option>
                            <option>Treads</option>
                        </select>
                    </div>
                    <div class="single_sidebar wow fadeInDown">
                        <h2><span>Links</span></h2>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Rss Feed</a></li>
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Life &amp; Style</a></li>
                        </ul>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock content %}
